<span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;">1. Find customers who have placed more orders than the average customer.</span>

In [ ]:
SELECT c.CustomerName, COUNT(o.OrderID) AS TotalOrders
FROM Sales.Customers AS c
JOIN Sales.Orders AS o
    ON c.CustomerID = o.CustomerID
GROUP BY c.CustomerName
HAVING COUNT(o.OrderID) > (
    SELECT AVG(OrderCount)
    FROM (
        SELECT COUNT(o2.OrderID) AS OrderCount
        FROM Sales.Orders AS o2
        GROUP BY o2.CustomerID
    ) AS Sub
);

2. <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;">List the top 10 most expensive products, along with the average price of all products for comparison.</span>

In [ ]:
SELECT TOP 10 
    si.StockItemName, 
    si.UnitPrice, 
    (SELECT AVG(UnitPrice) FROM Warehouse.StockItems) AS AvgPrice
FROM Warehouse.StockItems AS si
ORDER BY si.UnitPrice DESC;

3. <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;">Find all customers who have ordered at least one product with a price higher than $100.</span>

In [ ]:
SELECT DISTINCT c.CustomerName
FROM Sales.Customers AS c
WHERE c.CustomerID IN (
    SELECT o.CustomerID
    FROM Sales.Orders AS o
    JOIN Sales.OrderLines AS ol
        ON o.OrderID = ol.OrderID
    WHERE ol.UnitPrice > 100
);

4. <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;">Show suppliers who provide more than the average number of products.</span>

In [ ]:
SELECT s.SupplierName, COUNT(si.StockItemID) AS TotalProducts
FROM Purchasing.Suppliers AS s
JOIN Warehouse.StockItems AS si
    ON s.SupplierID = si.SupplierID
GROUP BY s.SupplierName
HAVING COUNT(si.StockItemID) > (
    SELECT AVG(ProductCount)
    FROM (
        SELECT COUNT(si2.StockItemID) AS ProductCount
        FROM Warehouse.StockItems AS si2
        GROUP BY si2.SupplierID
    ) AS Sub
);

5. <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;">List the top 10 customers who spent the most money in total.</span>

In [ ]:
SELECT TOP 10 
    c.CustomerName, 
    SUM(ol.UnitPrice * ol.Quantity) AS TotalSpent
FROM Sales.Customers AS c
JOIN Sales.Orders AS o
    ON c.CustomerID = o.CustomerID
JOIN Sales.OrderLines AS ol
    ON o.OrderID = ol.OrderID
GROUP BY c.CustomerName
ORDER BY TotalSpent DESC;

6. **Find employees who handled more orders than the company-wide average.**

In [ ]:
SELECT e.FullName, COUNT(o.OrderID) AS OrdersHandled
FROM Application.People AS e
JOIN Sales.Orders AS o
    ON e.PersonID = o.SalespersonPersonID
GROUP BY e.FullName
HAVING COUNT(o.OrderID) > (
    SELECT AVG(OrderCount)
    FROM (
        SELECT COUNT(o2.OrderID) AS OrderCount
        FROM Sales.Orders AS o2
        GROUP BY o2.SalespersonPersonID
    ) AS Sub
);

7. <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;">List the top 5 suppliers by the total value of goods they’ve supplied.</span>

In [ ]:
SELECT TOP 5 
    s.SupplierName, 
    SUM(pol.Quantity * pol.UnitPrice) AS TotalSuppliedValue
FROM Purchasing.Suppliers AS s
JOIN Purchasing.PurchaseOrders AS po
    ON s.SupplierID = po.SupplierID
JOIN Purchasing.PurchaseOrderLines AS pol
    ON po.PurchaseOrderID = pol.PurchaseOrderID
GROUP BY s.SupplierName
ORDER BY TotalSuppliedValue DESC;

8. <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;">Show the top 10 stock items that generated the most sales revenue.</span>

In [ ]:
SELECT TOP 10 
    si.StockItemName, 
    SUM(ol.Quantity * ol.UnitPrice) AS TotalRevenue
FROM Warehouse.StockItems AS si
JOIN Sales.OrderLines AS ol
    ON si.StockItemID = ol.StockItemID
GROUP BY si.StockItemName
ORDER BY TotalRevenue DESC;

9. <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;">Find customers who placed more orders than the average customer.</span>

In [ ]:
SELECT c.CustomerName, COUNT(o.OrderID) AS TotalOrders
FROM Sales.Customers AS c
JOIN Sales.Orders AS o
    ON c.CustomerID = o.CustomerID
GROUP BY c.CustomerName
HAVING COUNT(o.OrderID) > (
    SELECT AVG(OrderCount)
    FROM (
        SELECT COUNT(o2.OrderID) AS OrderCount
        FROM Sales.Orders AS o2
        GROUP BY o2.CustomerID
    ) AS Sub
)
ORDER BY TotalOrders DESC;

10. <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;">Show the first 20 invoices along with their customer names and total amounts.</span>

In [ ]:
SELECT TOP 20 
    i.InvoiceID, 
    c.CustomerName, 
    SUM(il.Quantity * il.UnitPrice) AS InvoiceTotal
FROM Sales.Invoices AS i
JOIN Sales.Customers AS c
    ON i.CustomerID = c.CustomerID
JOIN Sales.InvoiceLines AS il
    ON i.InvoiceID = il.InvoiceID
GROUP BY i.InvoiceID, c.CustomerName
ORDER BY i.InvoiceID;